body {
    display: flex;
    flex-flow: column nowrap;
    background-image: url("./background.jpg");
    background-size: cover;
    align-items: stretch;
    font-size: 16px;
    padding-top: 5rem;

}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

button:active {
    text-decoration: underline;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "heading heading heading"
        "card1 card2 card3";
    margin: 0 20%;
    gap: 2rem;
}

.h1 {
    grid-area: heading;
    justify-self: center;
    font-size: 4rem;
}

#card1, #card2, #card3 {
    text-align: center;
    font-size: 1.3rem;
    border-radius: 40px;
    background-color: rgba(197, 197, 197, 0.5);
    padding: 1rem;
    
}


  