body {
    display: flex;
    flex-flow: column nowrap;
    background-image: url("./background.jpg");
    background-size: cover;
    align-items: stretch;
    font-size: 16px;
    padding-top: 5rem;

}

nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 2rem;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
}

button:active {
    text-decoration: underline;
}

#content {
    margin-bottom: 5rem;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "heading heading heading"
        "card card card";
    margin: 0 20%;
    gap: 2rem;
}

#wrapper-v {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "heading"
        "card";
    margin: 0 15%;
    gap: 2rem;
}

.h1 {
    grid-area: heading;
    justify-self: center;
    font-size: 4rem;
}

.card {
    text-align: center;
    font-size: 1.3rem;
    border-radius: 40px;
    background-color: rgba(197, 197, 197, 0.5);
    padding: 1rem;
    
}

.menu-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "menu-item-no menu-item-title menu-item-price"
        "menu-item-description menu-item-description menu-item-description";
}

.menu-item-no {
    grid-area: menu-item-no;
}

.menu-item-title {
    grid-area: menu-item-title;
}

.menu-item-price {
    grid-area: menu-item-price;
}

.menu-item-description {
    grid-area: menu-item-description;
    font-size: 1rem;
}

.map {
    width: 100%;
}

  